.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}

/* Presenter Name */
.name {
    font-size: 0.6em;
}

.thumbnail {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
}

.proj{
    line-height:100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.proj-title{
    line-height:100%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 22px;
}

hr {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

header { 
    position: absolute;
    top: 20px;
    width: 100%;
    text-align:center;
}

footer { 
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align:center;
}
